.row
  /#map-canvas
.row
  .container
    .row
      .col-md-4.bordered.pull-right
        %span{ :class => "font-size-medium" }
          = @user.username.capitalize
        %span{ :class => "font-size-lg margin-left-10" }
        %span{ :class => "playerlevel font-size-xl" }  
          #{@level}

        / Start exp progress bar
        .progress{:title => "#{@percent_to_level}% to next level"}
          .progress-bar.progress-bar-warning{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: #{@percent_to_level}%;", :title => "#{@percent_to_level}% to next level"} 

        .experience 
          Experience: 
          %span{ :class => 'current-experience' } 
            = @current_experience
          \/
          %span{ :class => 'next-level-exp' }
            = @next_level_experience
    .item_dump
      -# When an item is rolled, it shows up here
      



    .btn-group.hidden-xs.visible-sm.visible-md.visible-lg
      = render 'shared/add_experience_buttons', :add_class => ""
    .hidden-sm.hidden-md.hidden-lg.visible-xs
      = render 'shared/add_experience_buttons', :add_class => "btn-block"

