- provide :title, "#{@user.username.capitalize}#{@user_title}".html_safe
- content_for :body_class, "profile"

.container
  .row
    .col-xs-6
      %h2.name
        = @user.username.capitalize

  .row
    .col-xs-2
      .profile-picture
        -# TODO Level-Based picture goes in replacement of these brs. img src...
      %h3
        Lv. 
        = @user_stats.player_level
      %span{ :class => 'ss-icon header-icons' }
        &#x1F4B2;
      = @user_stats.current_gold

    .col-xs-4
      .paperdoll
        -# Head
        .row
          .equip-item#neck
          .equip-item#head
          .equip-item#ring
        -# Body
        .row
          .equip-item#weapon
          .equip-item#body
          .equip-item#defense-item
        -# Feet
        .row
          .equip-item#legs
          .equip-item#feet

    .col-xs-6.inventory-chest
      %h2
        The Loot Sack
      #loot-scroll
        = render 'shared/users/user_inventory'

  .row
    .col-xs-12
      %h4
        Crafting Table
      .row
        .col-xs-3
          Crafting Level
          .label.label-default.pull-right
            -# TODO Make this read from the crafting level table when it's done
            100 
          .progress
            .progress-bar.progress-bar-warning{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: #{@percent_to_level}%;", :title => "#{@percent_to_level}% to next skill level"} 

  .row
    .col-xs-6
      = render 'shared/users/user_achievements'
    .col-xs-6
      = render 'shared/users/user_collections'