- provide :title,   'Signup'
%h1
  Signup

%div
= form_for(@user) do |f|
  = render 'shared/error_messages'

%div
  = form_for(@user) do |f|

    = f.label :first_name
    = f.text_field :first_name, placeholder: 'Johnny'

    = f.label :last_name
    = f.text_field :last_name, placeholder: 'Appleseed'

    = f.label :username
    = f.text_field :username, placeholder: 'Appleseeder123'

    = f.label :email
    = f.text_field :email, placeholder: 'example@example.com'

    = f.label :password, 'Password'
    = f.password_field :password

    = f.label :password_confirmation, 'Confirm Password'
    = f.password_field :password_confirmation

    = f.submit "Create Account"

