= link_to "Gather Material", "#", :class => "btn btn-default #{add_class}", :id => "material-button", 'data-no-turbolink' => true
= link_to "Light Training", "#", :class => "btn btn-default #{add_class}", :id => "light-button", 'data-no-turbolink' => true
= link_to "Medium Training", "#", :class =>"btn btn-default #{add_class}", :id => "medium-button", 'data-no-turbolink' => true
= link_to "Heavy Training", "#", :class => "btn btn-default #{add_class}", :id => "heavy-button", 'data-no-turbolink' => true  
-# Legendary training