= link_to "Gather Material", "#", :class => " levelup material-button btn btn-default #{add_class}", :value => 10, 'data-no-turbolink' => true
= link_to "Light Training", "#", :class => "light-button btn btn-default #{add_class}", :value => 50, 'data-no-turbolink' => true
= link_to "Medium Training", "#", :class =>"medium-button btn btn-default #{add_class}", :value => 250, 'data-no-turbolink' => true
= link_to "Heavy Training", "#", :class => "heavy-button btn btn-default #{add_class}", :value => 500, 'data-no-turbolink' => true  
-# Legendary training