= link_to "Level Up (10 exp) ", "#", :class => "material-button btn btn-default #{add_class}", :value => 10, 'data-no-turbolink' => true
= link_to "Light Training (50 exp)", "#", :class => "light-button btn btn-default #{add_class}", :value => 50, 'data-no-turbolink' => true
= link_to "Medium Training (250 exp)", "#", :class =>"medium-button btn btn-default #{add_class}", :value => 250, 'data-no-turbolink' => true
= link_to "Heavy Training (500 exp)", "#", :class => "heavy-button btn btn-default #{add_class}", :value => 500, 'data-no-turbolink' => true