.row
  %h2
    Sign me up!
.row
  = form_for @user, { :url => { :controller => 'registrations', :action => 'create' }}  do |f|
    .row
      = render 'shared/error_messages'

    -# First Name and Last Name should be optional 
    -#.pull-left
      -#= f.text_field :first_name, placeholder: 'First Name', :size => 17
    -#.pull-right
      -#= f.text_field :last_name, placeholder: 'Last Name', :size => 18
    .row
      .pull-left.width-100
        = f.text_field :username, placeholder: 'Desired Username', :size => 53, :class => 'skinny-margin-top width-100'
    .row
      .pull-left.width-100
        = f.text_field :email, placeholder: 'Email', :size => 53, :class => 'skinny-margin-top width-100' 

    .row
      = f.password_field :password, placeholder: 'Password', :class => 'pull-left'
      = f.password_field :password_confirmation, placeholder: 'Confirm Password', :class => 'pull-right'
    .row
      = f.submit "Create it!", :class => 'btn btn-success btn-block'
    .row
      .wide-margin-top
      %h3
        Let me try first
      = link_to 'Try it!', "#", :class => 'btn btn-default btn-block'