- provide :title, 'Home'

%h1	
  Welcome
%p
  = @time
= image_tag "kangaroo_temp_splash_image_700x493.jpg"

%p
= form_tag '/signin' do
  = text_field_tag 'username', nil, placeholder: 'Username'
  = password_field_tag 'password', nil, placeholder: 'Password'
  = submit_tag 'Sign In'
  

%p
  = link_to "Signup", signup_path #defined by route 

