-content_for :body_class, "sign_in"

.container-fluid
  #sign-in-form.well
    %h2 Sign in

    = form_for @user, { :url => { :controller => 'devise/sessions', :action => 'create' } }  do |f|

      .row
        = f.email_field :email, placeholder: 'Email', :autofocus => true
      .row
        = f.password_field :password, placeholder: 'Password'
      .row#user_remember_me
        - if devise_mapping.rememberable?
          = f.check_box :remember_me 
          = f.label :remember_me
      .row
        = f.submit "Sign in", :class => 'btn btn-success'

    #forgot-password
      = render "devise/shared/links"
