.container
  .col-md-4.col-md-offset-4.well 
    %h2 Sign in

    = form_for @user, { :url => { :controller => 'devise/sessions', :action => 'create' }, :class => 'signin-form' }  do |f|
      =# f.label :email
      %br
      = f.email_field :email, placeholder: 'Email', :autofocus => true
      %br
      =# f.label :password
      %br
      = f.password_field :password, placeholder: 'Password'
      %br

      - if devise_mapping.rememberable?
        = f.check_box :remember_me 
        = f.label :remember_me

      = f.submit "Sign in", :class => 'btn btn-success width-100 skinny-margin-top'
    .skinny-margin-top
    = render "devise/shared/links"
