- if @user_inventory.present?
  - @user_inventory.in_groups_of(1).each do |item_array|
    - item_array.each do |item|
      - @id = item.id.to_s
      %a{ :rel => "popover", :class => "inventory-item col-xs-1", :id => "item-" + @id, :data => {} }
        .hide
          .item-name
            = item.name
          .popover-content
            - unless item.computed_attack == nil
              .row
                .col-xs-8
                  .pull-left
                    Attack
                  .pull-right
                    = item.computed_attack
            - unless item.computed_defense == nil
              .row
                .col-xs-8
                  .pull-left
                    Defense
                  .pull-right
                    = item.computed_defense
            - unless item.computed_stealth == nil
              .row
                .col-xs-8
                  .pull-left
                    Stealth
                  .pull-right
                    = item.computed_stealth
            - unless item.computed_luck == nil
              .row                  
                .col-xs-8
                  .pull-left
                    Luck
                  .pull-right
                    = item.computed_luck
            - unless item.value == nil
              .row
                .col-xs-8    
                  .pull-left
                    Value
                  .pull-right
                    = item.value 
            %hr
            .row
              .info
                %span{ :class => 'ss-icon' }
                  &#x1F512;
                Click the item to equip or delete.
            .row
              .equip-button.btn.btn-warning.btn-block
                Equip
            .row
              .delete-button.btn.btn-danger.btn-block
                %span{ :class => 'ss-icon', :id => 'trash-icon' }
                  &#xE0D0;
                Delete Item
        - if item.quantity > 1
          .quantity
            = item.quantity
- else
  %p.text-center
    Just a dusty, empty chest