.navbar
  .container
    %a{ :href => root_path, :alt => "Home Path" }
      .navbar-brand
    .navbar-header.pull-right
      - if user_signed_in?
        %ul.main-user-menu
          %li
            = link_to game_path, 'data-no-turbolink' => true do 
              %span{ :class => 'ss-icon header-icons' }
                &#xE800;
              Game
          %li
            = link_to profile_path do
              %span{ :class => 'ss-icon header-icons' }
                &#x1F464;
              Profile
          %li
            = link_to "#" do
              %span{ :class => 'ss-icon header-icons' }
                &#x2709;
              Inbox
          %li
            = link_to "#" do
              %span{ :class => 'ss-icon header-icons' }
                &#x1F465;
              Friends
          %li.dropdown
            = link_to "#", :class => "dropdown-toggle", "data-toggle"=>"dropdown" do
              %span{ :class => 'ss-icon header-icons' }
                &#x2026;  
            %ul.dropdown-menu
              %li= link_to 'Settings', "#"
              %br
              %li= link_to 'Signout', signout_path, method: "delete"
      - else
        %ul.main-user-menu
          %li
            = link_to "Sign In", new_user_session_path
      #marker
