- if signed_in?
  .navbar
    .navbar-header
      %a{:href => root_path, :alt => "Home Path"}
        .navbar-brand

    .col-md-6.pull-right
      %ul.main-user-menu
        %li
          = link_to 'Home', map_path, 'data-no-turbolink' => true
        %li
          = link_to "Profile", current_user
        %li
          = link_to "Settings", edit_user_path(current_user)
        %li
          = link_to "Sign out", signout_path, method: "delete"
    #marker
- else 
  .container
    .row
      .wide-margin-top
      .col-md-3.col-xs-8
        = link_to image_tag(logo_image_path), root_path
      .col-md-9.col-xs-12
        %ul.main-user-menu.main-index-nav
          %li
            = link_to "Play", "#"
          %li
            = link_to "News", "#"
          %li
            = link_to "Forums", "#"
        .btn.btn-default
          = link_to "Sign In", signin_path
      #marker

/*
/- if signed_in?
/  .width-100.grey-sleek
/    .container
/      .row
/        .logged-in-margin-top
/        .col-xs-6.col-sm-3.col-md-2
/          = link_to image_tag(logo_image_path), root_path

/        .col-md-6.pull-right
/          %ul.main-user-menu
/            %li
/              = link_to 'Home', map_path, 'data-no-turbolink' => true
/            %li
/              = link_to "Profile", current_user
/            %li
/              = link_to "Settings", edit_user_path(current_user)
/            %li
/              = link_to "Sign out", signout_path, method: "delete"
/        #marker