.navbar
  .container
    %a{ :href => root_path, :alt => "Home Path" }
      .navbar-brand.pull-left
    .navbar-header.pull-right
      - if user_signed_in?
        %ul.main-user-menu.pull-right.hidden-xs
          %li
            = link_to game_path, 'data-no-turbolink' => true do 
              %span{ :class => 'ss-icon header-icons' }
                &#xE800;
              Game
          %li
            = link_to profile_path do
              %span{ :class => 'ss-icon header-icons' }
                &#x1F464;
              Profile
          %li
            = link_to "#" do
              %span{ :class => 'ss-icon header-icons' }
                &#x2709;
              Inbox
          %li
            = link_to "#" do
              %span{ :class => 'ss-icon header-icons' }
                &#x1F465;
              Friends
          %li.dropdown
            = link_to "#", :class => "dropdown-toggle", "data-toggle"=>"dropdown" do
              %span{ :class => 'ss-icon header-icons' }
                &#x2026;  
            %ul.dropdown-menu.pull-right
              %li= link_to 'Settings', "#"
              %li= link_to 'Signout', signout_path, method: "delete"


        %ul.main-user-menu-sm.pull-right.visible-xs
          %li
            = link_to game_path, 'data-no-turbolink' => true do 
              %span{ :class => 'ss-icon header-icons' }
                &#xE800;
          %li
            = link_to profile_path do
              %span{ :class => 'ss-icon header-icons' }
                &#x1F464;
          %li
            = link_to profile_path do
              %span{ :class => 'ss-icon header-icons' }
                &#x2709;
          %li
            = link_to "#" do
              %span{ :class => 'ss-icon header-icons' }
                &#x1F465;
          %li.dropdown
            = link_to "#", :class => "dropdown-toggle", "data-toggle"=>"dropdown" do
              %span{ :class => 'ss-icon header-icons' }
                &#x2026;  
            %ul.dropdown-menu.pull-right
              %li= link_to 'Settings', "#"
              %li= link_to 'Signout', signout_path, method: "delete"
      - else
        %ul.main-user-menu.hidden-xs
          %li
            = link_to "Sign In", new_user_session_path
      #marker
