!!!
%html
  %head
    %title
      = (yield :title).present? ? "#{yield :title} | nori.nu" : "nori.nu" 
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags 
    %meta{'http-equiv' => 'Content-Language', :content => 'en'}
    = render 'snippets/shim'
  %body
    = render 'layouts/header'
    - if notice
      .alert.alert-warning.text-center.alert-dismissable
        %button{ :class => "close", :data => { :dismiss => "alert" } } 
          x
        = notice
    - if alert
      .alert.alert-danger.text-center
        %button.close{ :data => { :dismiss => "alert" } } x
        = alert
    = yield 
    = render 'layouts/footer'

